@font-face {
    font-family: 'Raleway-Bold';
    src: url(../fonts/Raleway-Bold.woff2);
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(../fonts/Raleway-ExtraBold.woff2);
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.woff2);
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url(../fonts/Raleway-SemiBold.woff2);
}